name: CI Workflow

on:
  pull_request:
    branches: main

defaults:
  run:
    working-directory: .

jobs:
  ci:
    runs-on: macos-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Tools
        run: brew install swiftformat swiftlint

      - name: Run SwiftFormat(Check Only)
        run: swiftformat . --config .swiftformat --dryrun --lint

      - name: Run SwiftLint
        run: swiftlint --config .swiftlint.yml
